<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vacation Package</title>
	<link rel="stylesheet" href="Stephen_style.css" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="Stephen_packages_script.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div class="banner">
			<h1 id="welcome">Travel Experts</h1>
			<h2 class="subtitle">Vacation Packages</h2>
		</div>

		<div id="nav">
			<a href="home">Home </a> |
			<a href="vPackagesForm">Packages </a> |
			<a href="register">Register </a> |
			<a href="contact">Contact Us </a> |
			<a href="https://www.expedia.com/" target="_blank">Expedia </a> |
			<a href="https://www.travelocity.com/" target="_blank">Travelocity </a> |
			<a href="https://www.booking.com/" target="_blank">Bookings.com </a>
		</div>
	</header>

	<form class="form-inline justify-content-center" method="post" action="/vPackages_form" class="form-inline"
		class="form" autocomplete="off">
		<div class="autocomplete">
			<input type="date" id="dateLeaving" name="dateLeaving" class="form-control mb-2 mr-sm-2" required="true" />
			<input type="date" id="dateReturning" name="dateReturning" class="form-control mb-2 mr-sm-2"
				required="true" />
			<input type="text" id="leavingFrom" name="leavingFrom" class="form-control mb-2 mr-sm-2" required="true"
				placeholder="Leaving From" />
			<select id="vacaPackage" name="vacaPackage" class="form-control mb-2 mr-sm-2" required="true"
				placeholder="Choose Your Package" />
			<option value="caribbean">Caribbean New Year</option>
			<option value="polynesia">Polynesian Paradise</option>
			<option value="asia">Asian Expedition</option>
			<option value="europe">European Vacation</option>
			</select>
		</div>
		<input data-toggle="modal" data-target="#exampleModal" type="submit" class="btn btn-primary mb-2"
			value="Submit"></input>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Congrats! You are on your way to paradise!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Start Your Journey!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6" id="caribbeanCSS">
				<h3><%= packages[0].PkgName %></h3>
				<p class="black"> <%= packages[0].PkgDesc%></p>
				<p>Start Date: <%= packages[0].PkgStartDate.toDateString() %></p>
				<p>End Date: <%= packages[0].PkgEndDate.toDateString() %></p><br />
				<button class="btn btn-primary mb-2" onclick="caribbeanVideo()">See Video</button><br />
				<h4 class="black">Package Base Price:</h4>
				<h2 class="blue">$<%= packages[0].PkgBasePrice%></h2>
			</div>
			<div class="col-sm-6" id="polyCSS">
				<h3><%= packages[1].PkgName %></h3>
				<h5 class="black"><%= packages[1].PkgDesc%></h5>
				<p>Start Date: <%= packages[1].PkgStartDate.toDateString() %></p>
				<p>End Date: <%= packages[1].PkgEndDate.toDateString() %></p><br />
				<button class="btn btn-primary mb-2" onclick="polyVideo()">See Video</button><br />
				<h4>Package Base Price: </h4>
				<h2 class="blue">$<%= packages[1].PkgBasePrice%></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" id="asiaCSS">
				<h3><%= packages[2].PkgName %></h3>
				<p class="black"><%= packages[2].PkgDesc%></p>
				<p>Start Date: <%= packages[2].PkgStartDate.toDateString() %></p>
				<p>End Date: <%= packages[2].PkgEndDate.toDateString() %></p><br />
				<button class="btn btn-primary mb-2" onclick="asiaVideo()">See Video</button><br />
				<h4>Package Base Price: </h4>
				<h2 class="blue">$<%= packages[2].PkgBasePrice%></h2>
			</div>

			<div class="col-sm-6" id="europeCSS">

				<h3><%= packages[3].PkgName %></h3>
				<h5 class="black"><%= packages[3].PkgDesc%></h5>
				<p>Start Date: <%= packages[3].PkgStartDate.toDateString() %></p>
				<p>End Date: <%= packages[3].PkgEndDate.toDateString() %></p><br />
				<button class="btn btn-primary mb-2" onclick="europeVideo()">See Video</button><br />
				<h4>Package Base Price: </h4>
				<h2 class="blue">$<%= packages[3].PkgBasePrice%></h2>
			</div>
		</div>
	</div>
	<div id="footer">
		<hr>
		Copyright &copy; 2019
	</div>
</body>

</html>