<!DOCTYPE html>
<html>
    
  <head>
    <Title>
      Vacation Packages
    </Title>
    <link href="chi_packages_style.css" rel="stylesheet" />
    <script type="text/javascript" src="script.js"></script>
  </head>
  
  <body>
    <!-- Fixed Welcome banner with site links -->
    <header>
      <div class="banner">
        <h1 id="welcome">
          Welcome to Travel Experts
        </h1>
      </div>
      <div id="nav">
        <a href="home">Home </a> |
        <a href="vPackages">Packages </a> |
        <a href="register">Register </a> |
        <a href="contact">Contact Us </a> |
        <a href="https://www.expedia.com/" target="_blank">Expedia </a> |
        <a href="https://www.travelocity.com/" target="_blank">Travelocity </a> |
        <a href="https://www.booking.com/" target="_blank">Bookings.com </a>
      </div>
    </header>
    <main>
      <section>

        <!-- Placeholder section for choosing date and time of travel for client -->
        <div id="features"><h1>Feature Packages</h1></div>
        

        <!-- This section is to place 2 'polaroid like' images side by side with description -->
        <div class="locations">
          <% vPackages.forEach ( offer => { %>
            <div class="polaroid">
                <img src="..\media\<%=images[index] %>"  width="100%"/>
                <% index++ %>
                <div class="places">
                    <p><b><%= offer.PkgName %></b></p>
                    <p>Start Date: <%= offer.PkgStartDate.toDateString() %></p>
                    <p>End Date: <%= offer.PkgEndDate.toDateString() %></p>
                    <p><%= offer.PkgDesc %></p>
                    <p>Price: $<%= offer.PkgBasePrice %></p>
                </div>
              </div>
          <% }); %>  
        </div>

        <!-- Bottom site navigation links -->
        <div id="bottomNav">
          <div id="bottomNavImage">
            <img src="..\media/register.jpg" height=40 alt="Register Icon" Title="Register" />
            <img src="..\media/contact.jpg" height=40 alt="Contact Us Icon" Title="Contact Us" />
          </div>
          <div id="bottomNavLinks">
            <a href="register.html">Register </a>|
            <a href="contact.html">Contact Us</a>
          </div>
        </div>

        <!-- Footer with Copyright message -->
        <div id="footer">
          Copyright &copy; 2019 Travel Experts
        </div>

      </section>
    </main>
  </body>
</html>
